flow/flows_RevPi1361.json
[{"id":"32a22d88.932292","type":"tab","label":"Bottle_sensor","disabled":false,"info":""},{"id":"a8d5f309.d702b","type":"subflow","name":"OPC UA Server","info":"","in":[{"x":80,"y":80,"wires":[{"id":"e3fb3525.59d45"}]}],"out":[]},{"id":"a8cde638.f8b048","type":"subflow","name":"Model","info":"","in":[],"out":[{"x":680,"y":390,"wires":[{"id":"62d1f42.2e7fc0c","port":0},{"id":"648a03b6.229acc","port":0},{"id":"644bce06.822b","port":0},{"id":"ebe783bb.0ee56","port":0},{"id":"18e9e527.c74d33","port":0},{"id":"2dfae3ff.ebf4e4","port":0},{"id":"77f4303c.b1fbf","port":0},{"id":"5627c98b.3570d","port":0},{"id":"6b062159.f81c8","port":0},{"id":"dc7801ae.a51ce","port":0},{"id":"809e4837.27507","port":0},{"id":"8a4ff62.640c908","port":0},{"id":"17e91c51.a7aa5c","port":0},{"id":"aa99b12b.61a9a","port":0},{"id":"cd0a59aa.35cf28","port":0},{"id":"ddbdd5f8.4e4fd8","port":0},{"id":"4128b17f.9cb338","port":0},{"id":"7378f530.193b4c","port":0},{"id":"67c3772b.7a56a","port":0}]}]},{"id":"36b33298.7f931e","type":"subflow","name":"SDM630 charts","info":"","in":[{"x":170,"y":360,"wires":[{"id":"fcff0366.f5d6d"},{"id":"78fd4eed.51663"},{"id":"b9fd6200.6a0538"},{"id":"b96ed5d6.d31358"},{"id":"fe6d6e1e.421708"},{"id":"5c368c9d.0905ac"},{"id":"2e52945b.84b29c"},{"id":"1c5e9653.cce282"},{"id":"198d483a.3499f8"},{"id":"261b7385.de8cac"},{"id":"3082cbc8.192a54"}]}],"out":[{"x":680,"y":100,"wires":[{"id":"fcff0366.f5d6d","port":0},{"id":"78fd4eed.51663","port":0},{"id":"b9fd6200.6a0538","port":0},{"id":"b96ed5d6.d31358","port":0}]},{"x":680,"y":320,"wires":[{"id":"fe6d6e1e.421708","port":0},{"id":"5c368c9d.0905ac","port":0},{"id":"2e52945b.84b29c","port":0}]},{"x":680,"y":480,"wires":[{"id":"1c5e9653.cce282","port":0},{"id":"198d483a.3499f8","port":0},{"id":"261b7385.de8cac","port":0},{"id":"3082cbc8.192a54","port":0}]}]},{"id":"7fa29090.a41b2","type":"subflow","name":"static charts","info":"","in":[{"x":280,"y":220,"wires":[{"id":"c6486a51.fdd1f"},{"id":"3dfd0dd0.b409fa"},{"id":"4a82a419.321064"},{"id":"756d34d9.b01b64"}]}],"out":[{"x":780,"y":80,"wires":[{"id":"c6486a51.fdd1f","port":0},{"id":"3dfd0dd0.b409fa","port":0},{"id":"4a82a419.321064","port":0},{"id":"756d34d9.b01b64","port":0}]}]},{"id":"e68296df.4f6d1","type":"subflow","name":"OPC UA Server (2)","info":"","in":[{"x":80,"y":80,"wires":[{"id":"4c96bb23.53289c"}]}],"out":[]},{"id":"5aed2891.1cf5d8","type":"subflow","name":"SDM630 charts (2)","info":"","in":[{"x":170,"y":360,"wires":[{"id":"72ebfd25.a21dc4"},{"id":"4f2986.ffdf4e78"},{"id":"ffe4a5f1.98328"},{"id":"3ae9a4b0.3a50a4"},{"id":"45c7b92e.3f7098"},{"id":"64a78c4d.9175ac"},{"id":"81b469ad.97658"},{"id":"f7bea49d.eb2ea8"},{"id":"b1f62517.03a26"},{"id":"788bcdd.a60fe34"},{"id":"baccb1c6.27313"}]}],"out":[{"x":680,"y":100,"wires":[{"id":"72ebfd25.a21dc4","port":0},{"id":"4f2986.ffdf4e78","port":0},{"id":"ffe4a5f1.98328","port":0},{"id":"3ae9a4b0.3a50a4","port":0}]},{"x":680,"y":320,"wires":[{"id":"45c7b92e.3f7098","port":0},{"id":"64a78c4d.9175ac","port":0},{"id":"81b469ad.97658","port":0}]},{"x":680,"y":480,"wires":[{"id":"f7bea49d.eb2ea8","port":0},{"id":"b1f62517.03a26","port":0},{"id":"788bcdd.a60fe34","port":0},{"id":"baccb1c6.27313","port":0}]}]},{"id":"31bb6d16.c92852","type":"subflow","name":"static charts (2)","info":"","in":[{"x":280,"y":220,"wires":[{"id":"2d73366b.4e877a"},{"id":"6aa4a68c.a001a"},{"id":"3103418.9c805be"},{"id":"3e49873f.39bc6"}]}],"out":[{"x":780,"y":80,"wires":[{"id":"2d73366b.4e877a","port":0},{"id":"6aa4a68c.a001a","port":0},{"id":"3103418.9c805be","port":0},{"id":"3e49873f.39bc6","port":0}]}]},{"id":"678efb85.3528b4","type":"subflow","name":"OPC UA Server (3)","info":"","in":[{"x":80,"y":80,"wires":[{"id":"29bbd099.3c366"}]}],"out":[]},{"id":"4c7585cf.7442f4","type":"subflow","name":"SDM630 charts (3)","info":"","in":[{"x":170,"y":360,"wires":[{"id":"1f478795.e008f8"},{"id":"73fe6f9a.04f5e8"},{"id":"1fcfc511.cb3b2b"},{"id":"9c406470.4d4d28"},{"id":"2a67eb63.28363c"},{"id":"c40d2d61.6fb6b8"},{"id":"9ec7e69.3e10e18"},{"id":"b5ce2f9b.f9d748"},{"id":"d61bebe0.e0914"},{"id":"eff9b223.ce4bb"},{"id":"8a6341c.68da34"}]}],"out":[{"x":680,"y":100,"wires":[{"id":"1f478795.e008f8","port":0},{"id":"73fe6f9a.04f5e8","port":0},{"id":"1fcfc511.cb3b2b","port":0},{"id":"9c406470.4d4d28","port":0}]},{"x":680,"y":320,"wires":[{"id":"2a67eb63.28363c","port":0},{"id":"c40d2d61.6fb6b8","port":0},{"id":"9ec7e69.3e10e18","port":0}]},{"x":680,"y":480,"wires":[{"id":"b5ce2f9b.f9d748","port":0},{"id":"d61bebe0.e0914","port":0},{"id":"eff9b223.ce4bb","port":0},{"id":"8a6341c.68da34","port":0}]}]},{"id":"778f9f03.37194","type":"subflow","name":"static charts (3)","info":"","in":[{"x":280,"y":220,"wires":[{"id":"343ef8b2.d7588"},{"id":"56fce03d.c5ec18"},{"id":"4863adb5.c36f3c"},{"id":"d16cd727.011038"}]}],"out":[{"x":780,"y":80,"wires":[{"id":"343ef8b2.d7588","port":0},{"id":"56fce03d.c5ec18","port":0},{"id":"4863adb5.c36f3c","port":0},{"id":"d16cd727.011038","port":0}]}]},{"id":"c91ab086.cb2df","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false},{"id":"db8009bb.1ea7b8","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false},{"id":"25ef3309.268f9c","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Server","showErrors":true,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":true,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":""},{"id":"db694d8f.344788","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false},{"id":"74dd0258.44fc4c","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false},{"id":"ac0a7c45.6e96b","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false},{"id":"7e514947.7c3038","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"750b8e04.82ba1","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false},{"id":"67c3772b.7a56a","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=SDM630","browsename":"SDM630","displayname":"SDM 630","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"SDM630","x":390,"y":40,"wires":[[]]},{"id":"3086d312.0f304c","type":"OPCUA-IIoT-Inject","z":"a8cde638.f8b048","injectType":"inject","payload":"0","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"","name":"Inject after 10s","addressSpaceItems":[],"x":140,"y":40,"wires":[["67c3772b.7a56a"]]},{"id":"7378f530.193b4c","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L1","browsename":"L1","displayname":"L1","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=5;s=SDM630","referencetype":"Organizes","name":"L1","x":400,"y":90,"wires":[[]]},{"id":"ddbdd5f8.4e4fd8","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L3","browsename":"L3","displayname":"L3","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=5;s=SDM630","referencetype":"Organizes","name":"L3","x":400,"y":170,"wires":[[]]},{"id":"4128b17f.9cb338","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L2","browsename":"L2","displayname":"L2","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=5;s=SDM630","referencetype":"Organizes","name":"L2","x":400,"y":130,"wires":[[]]},{"id":"69869e8e.8984c","type":"OPCUA-IIoT-Inject","z":"a8cde638.f8b048","injectType":"inject","payload":"0","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"13","name":"Inject after 13s","addressSpaceItems":[],"x":140,"y":240,"wires":[["7378f530.193b4c","4128b17f.9cb338","ddbdd5f8.4e4fd8","cd0a59aa.35cf28","aa99b12b.61a9a","17e91c51.a7aa5c","8a4ff62.640c908","dc7801ae.a51ce","809e4837.27507"]]},{"id":"6b062159.f81c8","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L1Demand","browsename":"L1Demand","displayname":"L1 demand","objecttype":"BaseVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=L1","referencetype":"Organizes","name":"L1 demand","x":380,"y":510,"wires":[[]]},{"id":"8b1c995a.5ff548","type":"OPCUA-IIoT-Inject","z":"a8cde638.f8b048","injectType":"inject","payload":"0","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"16","name":"Inject after 16s","addressSpaceItems":[],"x":140,"y":680,"wires":[["6b062159.f81c8","5627c98b.3570d","77f4303c.b1fbf","2dfae3ff.ebf4e4","18e9e527.c74d33","ebe783bb.0ee56","644bce06.822b","648a03b6.229acc","62d1f42.2e7fc0c"]]},{"id":"5627c98b.3570d","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L2Demand","browsename":"L2Demand","displayname":"L2 demand","objecttype":"BaseVariableType","datatype":"Float","value":"0.0","referenceNodeId":"ns=5;s=L2","referencetype":"Organizes","name":"L2 demand","x":380,"y":550,"wires":[[]]},{"id":"77f4303c.b1fbf","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L3Demand","browsename":"L3Demand","displayname":"L3 demand","objecttype":"BaseVariableType","datatype":"Float","value":"0.0","referenceNodeId":"ns=5;s=L3","referencetype":"Organizes","name":"L3 demand","x":380,"y":590,"wires":[[]]},{"id":"2dfae3ff.ebf4e4","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L1Power","browsename":"L1Power","displayname":"L1 power","objecttype":"BaseVariableType","datatype":"Float","value":"0.0","referenceNodeId":"ns=5;s=L1","referencetype":"Organizes","name":"L1 power","x":390,"y":640,"wires":[[]]},{"id":"18e9e527.c74d33","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L2Power","browsename":"L2Power","displayname":"L2 power","objecttype":"BaseVariableType","datatype":"Float","value":"0.0","referenceNodeId":"ns=5;s=L2","referencetype":"Organizes","name":"L2 power","x":390,"y":680,"wires":[[]]},{"id":"ebe783bb.0ee56","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L3Power","browsename":"L3Power","displayname":"L3 power","objecttype":"BaseVariableType","datatype":"Float","value":"0.0","referenceNodeId":"ns=5;s=L3","referencetype":"Organizes","name":"L3 power","x":390,"y":720,"wires":[[]]},{"id":"644bce06.822b","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L1Voltage","browsename":"L1Voltage","displayname":"L1 voltage","objecttype":"BaseVariableType","datatype":"Float","value":"0.0","referenceNodeId":"ns=5;s=L1","referencetype":"Organizes","name":"L1 voltage","x":380,"y":770,"wires":[[]]},{"id":"648a03b6.229acc","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L2Voltage","browsename":"L2Voltage","displayname":"L2 voltage","objecttype":"BaseVariableType","datatype":"Float","value":"0.0","referenceNodeId":"ns=5;s=L2","referencetype":"Organizes","name":"L2 voltage","x":380,"y":810,"wires":[[]]},{"id":"62d1f42.2e7fc0c","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=L3Voltage","browsename":"L3Voltage","displayname":"L3 voltage","objecttype":"BaseVariableType","datatype":"Float","value":"0.0","referenceNodeId":"ns=5;s=L3","referencetype":"Organizes","name":"L3 voltage","x":380,"y":850,"wires":[[]]},{"id":"cd0a59aa.35cf28","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=DemandSum","browsename":"DemandSum","displayname":"Demand Sum","objecttype":"BaseVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=SDM630","referencetype":"Organizes","name":"DemandSum","x":380,"y":240,"wires":[[]]},{"id":"aa99b12b.61a9a","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=PowerSum","browsename":"PowerSum","displayname":"Power Sum","objecttype":"BaseVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=SDM630","referencetype":"Organizes","name":"PowerSum","x":380,"y":280,"wires":[[]]},{"id":"17e91c51.a7aa5c","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=frequency","browsename":"frequency","displayname":"frequency","objecttype":"BaseVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=SDM630","referencetype":"Organizes","name":"frequency","x":390,"y":320,"wires":[[]]},{"id":"8a4ff62.640c908","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=ampHourSinceLastReset","browsename":"ampHourSinceLastReset","displayname":"ampere-hours since last reset","objecttype":"BaseVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=SDM630","referencetype":"Organizes","name":"ampHourSinceLastReset","x":340,"y":360,"wires":[[]]},{"id":"dc7801ae.a51ce","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=totalSystemPowerDemand","browsename":"totalSystemPowerDemand","displayname":"total system power demand","objecttype":"BaseVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=SDM630","referencetype":"Organizes","name":"totalSystemPowerDemand","x":330,"y":400,"wires":[[]]},{"id":"809e4837.27507","type":"OPCUA-IIoT-Server-ASO","z":"a8cde638.f8b048","nodeId":"ns=5;s=maxTotalSystemPowerDemand","browsename":"maxTotalSystemPowerDemand","displayname":"max total system power demand","objecttype":"BaseVariableType","datatype":"Float","value":"","referenceNodeId":"ns=5;s=SDM630","referencetype":"Organizes","name":"maxTotalSystemPowerDemand","x":320,"y":440,"wires":[[]]},{"id":"ca0524dc.29e41","type":"debug","z":"a8d5f309.d702b","name":"","active":false,"console":"false","complete":"true","x":410,"y":80,"wires":[]},{"id":"fcff0366.f5d6d","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=PowerSum","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"Sum","name":"","showErrors":false,"x":450,"y":100,"wires":[[]]},{"id":"78fd4eed.51663","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=L1Power","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L1","name":"","showErrors":false,"x":450,"y":140,"wires":[[]]},{"id":"b9fd6200.6a0538","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=L2Power","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L2","name":"","showErrors":false,"x":450,"y":180,"wires":[[]]},{"id":"b96ed5d6.d31358","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=L3Power","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L3","name":"","showErrors":false,"x":450,"y":220,"wires":[[]]},{"id":"fe6d6e1e.421708","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=L1Voltage","datatype":"Float","fixedValue":false,"fixPoint":"1","withPrecision":true,"precision":"3","entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L1","name":"","showErrors":false,"x":450,"y":320,"wires":[[]]},{"id":"5c368c9d.0905ac","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=L2Voltage","datatype":"Float","fixedValue":false,"fixPoint":"1","withPrecision":true,"precision":"3","entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L2","name":"","showErrors":false,"x":450,"y":360,"wires":[[]]},{"id":"2e52945b.84b29c","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=L3Voltage","datatype":"Float","fixedValue":false,"fixPoint":"1","withPrecision":true,"precision":"3","entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L3","name":"","showErrors":false,"x":450,"y":400,"wires":[[]]},{"id":"1c5e9653.cce282","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=L1Demand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L1","name":"","showErrors":false,"x":450,"y":480,"wires":[[]]},{"id":"198d483a.3499f8","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=L2Demand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L2","name":"","showErrors":false,"x":450,"y":520,"wires":[[]]},{"id":"261b7385.de8cac","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=L3Demand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L3","name":"","showErrors":false,"x":450,"y":560,"wires":[[]]},{"id":"3082cbc8.192a54","type":"OPCUA-IIoT-Result-Filter","z":"36b33298.7f931e","nodeId":"ns=5;s=DemandSum","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"Sum","name":"","showErrors":false,"x":460,"y":600,"wires":[[]]},{"id":"e3fb3525.59d45","type":"OPCUA-IIoT-Server","z":"a8d5f309.d702b","port":"55388","endpoint":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"100","alternateHostname":"","name":"","showStatusActivities":false,"showErrors":true,"asoDemo":false,"allowAnonymous":true,"isAuditing":false,"serverDiscovery":true,"users":[{"name":"test","password":"test"},{"name":"peter","password":"peter"}],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","maxNodesPerRead":"","maxNodesPerBrowse":"","x":230,"y":80,"wires":[["ca0524dc.29e41"]]},{"id":"c6486a51.fdd1f","type":"OPCUA-IIoT-Result-Filter","z":"7fa29090.a41b2","nodeId":"ns=5;s=frequency","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"frequency","name":"","showErrors":false,"x":490,"y":140,"wires":[[]]},{"id":"3dfd0dd0.b409fa","type":"OPCUA-IIoT-Result-Filter","z":"7fa29090.a41b2","nodeId":"ns=5;s=ampHourSinceLastReset","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"ampHourSinceLastReset","name":"","showErrors":false,"x":540,"y":200,"wires":[[]]},{"id":"4a82a419.321064","type":"OPCUA-IIoT-Result-Filter","z":"7fa29090.a41b2","nodeId":"ns=5;s=totalSystemPowerDemand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"totalSystemPowerDemand","name":"","showErrors":false,"x":530,"y":260,"wires":[[]]},{"id":"756d34d9.b01b64","type":"OPCUA-IIoT-Result-Filter","z":"7fa29090.a41b2","nodeId":"ns=5;s=maxTotalSystemPowerDemand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"maxTotalSystemPowerDemand","name":"","showErrors":false,"x":530,"y":320,"wires":[[]]},{"id":"c5a42008.93506","type":"debug","z":"e68296df.4f6d1","name":"","active":false,"console":"false","complete":"true","x":410,"y":80,"wires":[]},{"id":"77236b34.87b8d4","type":"ui_chart","z":"5aed2891.1cf5d8","name":"","group":"82a80892.06eb38","order":2,"interpolate":"linear","nodata":"","removeOlder":1,"removeOlderUnit":"86400","x":710,"y":220,"wires":[[],[]]},{"id":"f7d6ae1.0bde7d","type":"ui_chart","z":"5aed2891.1cf5d8","name":"","group":"82a80892.06eb38","order":3,"interpolate":"linear","nodata":"","removeOlder":1,"removeOlderUnit":"86400","x":720,"y":400,"wires":[[],[]]},{"id":"e1e61f36.1aa7b","type":"ui_chart","z":"5aed2891.1cf5d8","name":"","group":"82a80892.06eb38","order":1,"interpolate":"linear","nodata":"","removeOlder":1,"removeOlderUnit":"86400","x":720,"y":600,"wires":[[],[]]},{"id":"261bb7c8.a138c8","type":"ui_gauge","z":"31bb6d16.c92852","name":"","group":"ede6d7ce.0d092","order":1,"format":"{{value | number:2}}","min":0,"max":"100","x":830,"y":140,"wires":[]},{"id":"999c2154.1dbd78","type":"ui_gauge","z":"31bb6d16.c92852","name":"","group":"3bb47cc7.2bd524","order":2,"format":"{{value | number:3}}","min":0,"max":"5","x":840,"y":260,"wires":[]},{"id":"d0a749dc.2de5d","type":"ui_gauge","z":"31bb6d16.c92852","name":"","group":"3bb47cc7.2bd524","order":1,"format":"{{value | number:3}}","min":0,"max":"20","x":840,"y":320,"wires":[]},{"id":"ef54192e.0eb3f","type":"ui_gauge","z":"31bb6d16.c92852","name":"","group":"f4f863e1.12067","order":2,"format":"{{value | number:2}}","min":0,"max":"2000","x":830,"y":200,"wires":[]},{"id":"72ebfd25.a21dc4","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=PowerSum","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"Sum","name":"","showErrors":false,"x":450,"y":100,"wires":[["77236b34.87b8d4"]]},{"id":"4f2986.ffdf4e78","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=L1Power","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L1","name":"","showErrors":false,"x":450,"y":140,"wires":[["77236b34.87b8d4"]]},{"id":"ffe4a5f1.98328","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=L2Power","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L2","name":"","showErrors":false,"x":450,"y":180,"wires":[["77236b34.87b8d4"]]},{"id":"3ae9a4b0.3a50a4","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=L3Power","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L3","name":"","showErrors":false,"x":450,"y":220,"wires":[["77236b34.87b8d4"]]},{"id":"45c7b92e.3f7098","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=L1Voltage","datatype":"Float","fixedValue":false,"fixPoint":"1","withPrecision":true,"precision":"3","entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L1","name":"","showErrors":false,"x":450,"y":320,"wires":[["f7d6ae1.0bde7d"]]},{"id":"64a78c4d.9175ac","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=L2Voltage","datatype":"Float","fixedValue":false,"fixPoint":"1","withPrecision":true,"precision":"3","entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L2","name":"","showErrors":false,"x":450,"y":360,"wires":[["f7d6ae1.0bde7d"]]},{"id":"81b469ad.97658","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=L3Voltage","datatype":"Float","fixedValue":false,"fixPoint":"1","withPrecision":true,"precision":"3","entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L3","name":"","showErrors":false,"x":450,"y":400,"wires":[["f7d6ae1.0bde7d"]]},{"id":"f7bea49d.eb2ea8","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=L1Demand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L1","name":"","showErrors":false,"x":450,"y":480,"wires":[["e1e61f36.1aa7b"]]},{"id":"b1f62517.03a26","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=L2Demand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L2","name":"","showErrors":false,"x":450,"y":520,"wires":[["e1e61f36.1aa7b"]]},{"id":"788bcdd.a60fe34","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=L3Demand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L3","name":"","showErrors":false,"x":450,"y":560,"wires":[["e1e61f36.1aa7b"]]},{"id":"baccb1c6.27313","type":"OPCUA-IIoT-Result-Filter","z":"5aed2891.1cf5d8","nodeId":"ns=5;s=DemandSum","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"Sum","name":"","showErrors":false,"x":460,"y":600,"wires":[["e1e61f36.1aa7b"]]},{"id":"4c96bb23.53289c","type":"OPCUA-IIoT-Server","z":"e68296df.4f6d1","port":"55388","endpoint":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"100","alternateHostname":"","name":"","showStatusActivities":false,"showErrors":true,"asoDemo":false,"allowAnonymous":true,"isAuditing":false,"serverDiscovery":true,"users":[{"name":"test","password":"test"},{"name":"peter","password":"peter"}],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","x":230,"y":80,"wires":[["c5a42008.93506"]]},{"id":"2d73366b.4e877a","type":"OPCUA-IIoT-Result-Filter","z":"31bb6d16.c92852","nodeId":"ns=5;s=frequency","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"frequency","name":"","showErrors":false,"x":490,"y":140,"wires":[["261bb7c8.a138c8"]]},{"id":"6aa4a68c.a001a","type":"OPCUA-IIoT-Result-Filter","z":"31bb6d16.c92852","nodeId":"ns=5;s=ampHourSinceLastReset","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"ampHourSinceLastReset","name":"","showErrors":false,"x":540,"y":200,"wires":[["ef54192e.0eb3f"]]},{"id":"3103418.9c805be","type":"OPCUA-IIoT-Result-Filter","z":"31bb6d16.c92852","nodeId":"ns=5;s=totalSystemPowerDemand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"totalSystemPowerDemand","name":"","showErrors":false,"x":530,"y":260,"wires":[["999c2154.1dbd78"]]},{"id":"3e49873f.39bc6","type":"OPCUA-IIoT-Result-Filter","z":"31bb6d16.c92852","nodeId":"ns=5;s=maxTotalSystemPowerDemand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"maxTotalSystemPowerDemand","name":"","showErrors":false,"x":530,"y":320,"wires":[["d0a749dc.2de5d"]]},{"id":"5a93118a.1179a8","type":"debug","z":"678efb85.3528b4","name":"","active":false,"console":"false","complete":"true","x":410,"y":80,"wires":[]},{"id":"b01ce456.192b4","type":"ui_chart","z":"4c7585cf.7442f4","name":"","group":"82a80892.06eb38","order":2,"interpolate":"linear","nodata":"","removeOlder":1,"removeOlderUnit":"86400","x":710,"y":220,"wires":[[],[]]},{"id":"add05d90.c381f","type":"ui_chart","z":"4c7585cf.7442f4","name":"","group":"82a80892.06eb38","order":3,"interpolate":"linear","nodata":"","removeOlder":1,"removeOlderUnit":"86400","x":720,"y":400,"wires":[[],[]]},{"id":"12bccf13.20d3b9","type":"ui_chart","z":"4c7585cf.7442f4","name":"","group":"82a80892.06eb38","order":1,"interpolate":"linear","nodata":"","removeOlder":1,"removeOlderUnit":"86400","x":720,"y":600,"wires":[[],[]]},{"id":"904af68c.314b28","type":"ui_gauge","z":"778f9f03.37194","name":"","group":"ede6d7ce.0d092","order":1,"format":"{{value | number:2}}","min":0,"max":"100","x":830,"y":140,"wires":[]},{"id":"eee657c2.09a018","type":"ui_gauge","z":"778f9f03.37194","name":"","group":"3bb47cc7.2bd524","order":2,"format":"{{value | number:3}}","min":0,"max":"5","x":840,"y":260,"wires":[]},{"id":"1dddb8fe.654e67","type":"ui_gauge","z":"778f9f03.37194","name":"","group":"3bb47cc7.2bd524","order":1,"format":"{{value | number:3}}","min":0,"max":"20","x":840,"y":320,"wires":[]},{"id":"f9234f2.ed573b","type":"ui_gauge","z":"778f9f03.37194","name":"","group":"f4f863e1.12067","order":2,"format":"{{value | number:2}}","min":0,"max":"2000","x":830,"y":200,"wires":[]},{"id":"1f478795.e008f8","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=PowerSum","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"Sum","name":"","showErrors":false,"x":450,"y":100,"wires":[["b01ce456.192b4"]]},{"id":"73fe6f9a.04f5e8","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=L1Power","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L1","name":"","showErrors":false,"x":450,"y":140,"wires":[["b01ce456.192b4"]]},{"id":"1fcfc511.cb3b2b","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=L2Power","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L2","name":"","showErrors":false,"x":450,"y":180,"wires":[["b01ce456.192b4"]]},{"id":"9c406470.4d4d28","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=L3Power","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L3","name":"","showErrors":false,"x":450,"y":220,"wires":[["b01ce456.192b4"]]},{"id":"2a67eb63.28363c","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=L1Voltage","datatype":"Float","fixedValue":false,"fixPoint":"1","withPrecision":true,"precision":"3","entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L1","name":"","showErrors":false,"x":450,"y":320,"wires":[["add05d90.c381f"]]},{"id":"c40d2d61.6fb6b8","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=L2Voltage","datatype":"Float","fixedValue":false,"fixPoint":"1","withPrecision":true,"precision":"3","entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L2","name":"","showErrors":false,"x":450,"y":360,"wires":[["add05d90.c381f"]]},{"id":"9ec7e69.3e10e18","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=L3Voltage","datatype":"Float","fixedValue":false,"fixPoint":"1","withPrecision":true,"precision":"3","entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L3","name":"","showErrors":false,"x":450,"y":400,"wires":[["add05d90.c381f"]]},{"id":"b5ce2f9b.f9d748","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=L1Demand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L1","name":"","showErrors":false,"x":450,"y":480,"wires":[["12bccf13.20d3b9"]]},{"id":"d61bebe0.e0914","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=L2Demand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L2","name":"","showErrors":false,"x":450,"y":520,"wires":[["12bccf13.20d3b9"]]},{"id":"eff9b223.ce4bb","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=L3Demand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"L3","name":"","showErrors":false,"x":450,"y":560,"wires":[["12bccf13.20d3b9"]]},{"id":"8a6341c.68da34","type":"OPCUA-IIoT-Result-Filter","z":"4c7585cf.7442f4","nodeId":"ns=5;s=DemandSum","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"Sum","name":"","showErrors":false,"x":460,"y":600,"wires":[["12bccf13.20d3b9"]]},{"id":"29bbd099.3c366","type":"OPCUA-IIoT-Server","z":"678efb85.3528b4","port":"55388","endpoint":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"100","alternateHostname":"","name":"","showStatusActivities":false,"showErrors":true,"asoDemo":false,"allowAnonymous":true,"isAuditing":false,"serverDiscovery":true,"users":[{"name":"test","password":"test"},{"name":"peter","password":"peter"}],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","x":230,"y":80,"wires":[["5a93118a.1179a8"]]},{"id":"343ef8b2.d7588","type":"OPCUA-IIoT-Result-Filter","z":"778f9f03.37194","nodeId":"ns=5;s=frequency","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"frequency","name":"","showErrors":false,"x":490,"y":140,"wires":[["904af68c.314b28"]]},{"id":"56fce03d.c5ec18","type":"OPCUA-IIoT-Result-Filter","z":"778f9f03.37194","nodeId":"ns=5;s=ampHourSinceLastReset","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"ampHourSinceLastReset","name":"","showErrors":false,"x":540,"y":200,"wires":[["f9234f2.ed573b"]]},{"id":"4863adb5.c36f3c","type":"OPCUA-IIoT-Result-Filter","z":"778f9f03.37194","nodeId":"ns=5;s=totalSystemPowerDemand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"totalSystemPowerDemand","name":"","showErrors":false,"x":530,"y":260,"wires":[["eee657c2.09a018"]]},{"id":"d16cd727.011038","type":"OPCUA-IIoT-Result-Filter","z":"778f9f03.37194","nodeId":"ns=5;s=maxTotalSystemPowerDemand","datatype":"Float","fixedValue":true,"fixPoint":2,"withPrecision":false,"precision":2,"entry":1,"justValue":true,"withValueCheck":false,"minvalue":"","maxvalue":"","defaultvalue":"","topic":"maxTotalSystemPowerDemand","name":"","showErrors":false,"x":530,"y":320,"wires":[["1dddb8fe.654e67"]]},{"id":"956d6ead.4e7668","type":"OPCUA-IIoT-Server","z":"32a22d88.932292","port":"55388","endpoint":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"","alternateHostname":"","name":"Server","showStatusActivities":false,"showErrors":false,"asoDemo":false,"allowAnonymous":true,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","maxNodesPerRead":1000,"maxNodesPerBrowse":2000,"x":940.5,"y":401,"wires":[["a9f6be2b.c52798"]]},{"id":"a9f6be2b.c52798","type":"debug","z":"32a22d88.932292","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1200.5,"y":387,"wires":[]},{"id":"f55bdcb5.ea4738","type":"OPCUA-IIoT-Server-ASO","z":"32a22d88.932292","nodeId":"ns=4;i=4000","browsename":"SensorFolder","displayname":"SensorFolder","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"Folder ASO","x":725.5,"y":492,"wires":[["956d6ead.4e7668"]]},{"id":"717a3b85.edba84","type":"OPCUA-IIoT-Server-ASO","z":"32a22d88.932292","nodeId":"ns=4;i=4001","browsename":"sensor1","displayname":"Sensor One","objecttype":"BaseDataVariableType","datatype":"Int16","value":"1","referenceNodeId":"ns=4;i=4000","referencetype":"HasComponent","name":"Sensor1 ASO","x":729.5,"y":567,"wires":[["956d6ead.4e7668"]]},{"id":"2a661f41.97dfe","type":"OPCUA-IIoT-Inject","z":"32a22d88.932292","injectType":"inject","payload":"","payloadType":"str","topic":"","repeat":"","crontab":"","once":true,"startDelay":"120","name":"","addressSpaceItems":[],"x":543.5,"y":505,"wires":[["f55bdcb5.ea4738"]]},{"id":"ce256c16.bad948","type":"OPCUA-IIoT-Inject","z":"32a22d88.932292","injectType":"inject","payload":"","payloadType":"str","topic":"","repeat":"","crontab":"","once":true,"startDelay":"130","name":"","addressSpaceItems":[],"x":546.5,"y":593,"wires":[["717a3b85.edba84","72e6a452.8420f4","45de9c5.5dc91e4"]]},{"id":"d45f19f3.2af69","type":"OPCUA-IIoT-Write","z":"32a22d88.932292","connector":"25ef3309.268f9c","name":"","justValue":false,"showStatusActivities":false,"showErrors":false,"x":949.5,"y":300,"wires":[["8f3291b6.0f13b"]]},{"id":"8f3291b6.0f13b","type":"debug","z":"32a22d88.932292","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":1175.5,"y":277,"wires":[]},{"id":"72e6a452.8420f4","type":"OPCUA-IIoT-Server-ASO","z":"32a22d88.932292","nodeId":"ns=4;i=4002","browsename":"sensor0","displayname":"Sensor Zero","objecttype":"BaseDataVariableType","datatype":"Int16","value":"0","referenceNodeId":"ns=4;i=4000","referencetype":"HasComponent","name":"Sensor0 ASO","x":722.5,"y":629,"wires":[["956d6ead.4e7668"]]},{"id":"de18c3d4.5a678","type":"inject","z":"32a22d88.932292","name":"Trigger","topic":"","payload":"","payloadType":"num","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":205.5,"y":292,"wires":[["7c371194.7bec9","51b61e2c.eb28d"]]},{"id":"7c371194.7bec9","type":"revpi-read","z":"32a22d88.932292","name":"","offset":"11","bit":"0","x":403.5,"y":323,"wires":[["33a625be.c538ba","b9f3ec1a.35b568"]]},{"id":"33a625be.c538ba","type":"revpi-write","z":"32a22d88.932292","name":"","offset":"81","bit":"0","value":"1","x":593.5,"y":179,"wires":[[]]},{"id":"51b61e2c.eb28d","type":"revpi-read","z":"32a22d88.932292","name":"","offset":"11","bit":"1","x":402.5,"y":279,"wires":[["fbac187e.b445f8","5e95dc1.bf96ea4"]]},{"id":"fbac187e.b445f8","type":"revpi-write","z":"32a22d88.932292","name":"","offset":"81","bit":"1","value":"1","x":591.5,"y":223,"wires":[[]]},{"id":"a51946e1.f3d52","type":"function","z":"32a22d88.932292","name":"translator","func":"msg.payload =Number(msg.payload);\nmsg.valuesToWrite[0]=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":777.5,"y":281,"wires":[["d45f19f3.2af69"]]},{"id":"5e95dc1.bf96ea4","type":"OPCUA-IIoT-Node","z":"32a22d88.932292","injectType":"write","nodeId":"ns=4;i=4002","datatype":"Int16","value":"","name":"Node_Select","topic":"","showErrors":false,"x":609.5,"y":280,"wires":[["a51946e1.f3d52","7b86a43d.421a0c"]]},{"id":"b9f3ec1a.35b568","type":"OPCUA-IIoT-Node","z":"32a22d88.932292","injectType":"write","nodeId":"ns=4;i=4001","datatype":"Int16","value":"","name":"Node_Select","topic":"","showErrors":false,"x":609.5,"y":328,"wires":[["a51946e1.f3d52","7b86a43d.421a0c"]]},{"id":"7b86a43d.421a0c","type":"function","z":"32a22d88.932292","name":"Status","func":"if(msg.addressSpaceItems[0].nodeId==\"ns=4;i=4001\"){\n    global.set('sensor0',msg.payload);\n}\nelse if(msg.addressSpaceItems[0].nodeId==\"ns=4;i=4002\"){\n    global.set('sensor1',msg.payload);\n}\n\nvar s0 =global.get('sensor0');\nvar s1 =global.get('sensor1');\nvar status=100;\nif(s0&&s1){\n    status=100;\n        node.status({fill:\"yellow\",text:\"Full\"});\n}\nelse if((!s0)&&(!s1)){\n    status=200;\n    node.status({fill:\"grey\",text:\"Empty\"});\n}\nelse if(s0&&(!s1)){\n    status =300;\n    node.status({fill:\"green\",text:\"Ready\"});\n}\nelse if((!s0)&&s1){\n    status =400;\n    node.status({fill:\"red\",text:\"Failure\"});\n}\n\n\nmsg.valuesToWrite[0]=Number(status);\nmsg.addressSpaceItems[0].nodeId=\"ns=4;i=4003\";\nreturn msg;","outputs":1,"noerr":0,"x":520.5,"y":429,"wires":[["d45f19f3.2af69"]]},{"id":"45de9c5.5dc91e4","type":"OPCUA-IIoT-Server-ASO","z":"32a22d88.932292","nodeId":"ns=4;i=4003","browsename":"State","displayname":"BottleState","objecttype":"BaseDataVariableType","datatype":"Int16","value":"0","referenceNodeId":"ns=4;i=4000","referencetype":"HasComponent","name":"State","x":719.5,"y":676,"wires":[["956d6ead.4e7668"]]}]